<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      // espace all the javascript with the j, take just a string, security purpose
      var name = '<%= j @flat.name %>';
      var coordinates = <%= raw @coordinates.to_json %>;
      alert("Welcome to " + name + ", come visit us @ " + coordinates["lat"] + ", " + coordinates['lng']);
    })
  </script>
<% end %>
